<div class="container-routes">
    <div><h1 class="h1-routes">Rutas</h1></div>
    <div *ngIf="!showAddForm">
        <div class="top-bar">
            <input class="search-bar" type="text" [(ngModel)]="searchTerm" (input)="search()">
            <button class="add-button" (click)="showAddForm = true">Agregar ruta</button>
        </div>
        <div>
            <ul class="route-list">
                <li class="list-item" *ngFor="let route of filteredRoutes">
                    <div class="route-details" (click)="sendRoute(route)">
                        <p class="route-name">Nombre: {{ route.name }}</p>
                        <p class="route-distance">Distancia: {{ route.distance | number:'1.2-2' }} Km</p>
                        <p class="route-duration">Duración: {{ route.duration }}</p>
                        <p class="route-type">Tipo: {{ route.type }}</p>
                    </div>
                    <div class="calculate-container">
                        Vehiculo:
                        <select #selectedVehicleId id="startSaved" name="startSaved" required>
                            <option *ngFor="let vehicle of savedVehicles" [value]="vehicle.id+','+vehicle.carbType">{{ vehicle.name }}</option>
                        </select>
                        <button (click)="getPrice(route, selectedVehicleId.value)" class="popup-button">Calcular</button>
                    </div>
                    
                    <div class="button-container">
                        <button [ngClass]="(route.fav ? 'fav-button' : 'nofav-button')" (click)="toggleFavorite(route)"></button>
                        <button class="edit-button" (click)="showEditInput(route)"></button>
                        <button class="delete-button" (click)="deleteRoute(route.id)"></button>
                    </div>
                </li>
            </ul>
            <div *ngIf="showEditForm" class="popup-container">
                <p>Introduce el nuevo nombre</p>
                <input type="text" [(ngModel)]="newName" class="popup-content">
                <div class="buttons-container">
                    <button (click)="editRoute(newName)" class="popup-button">Aceptar</button>
                    <button (click)="showEditForm = false" class="popup-button">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container" *ngIf="showAddForm">
        <h2>Agregar ruta</h2>
        <form id="routeForm" (submit)="addRoute(newStartPlace, newEndPlace, newRouteOptions, startCoords, endCoords)">
            <div class="form-group">
                <label for="startType">Inicio:</label>
                <!--(change)="onStartTypeChange()"-->
                <select [(ngModel)]="startType" id="startType" name="startType" >
                    <option value="saved">Place of Interest guardado</option>
                    <option value="new">Nueva dirección/coordenadas</option>
                </select>
            </div>
            <div *ngIf="startType === 'saved'">
                <!-- Aquí puedes mostrar un desplegable o una lista de los Place of Interest guardados -->
                <!-- Ejemplo: -->
                <div class="form-group">
                    <label for="startSaved">Selecciona un lugar guardado:</label>
                    <select [(ngModel)]="newStartPlace" id="startSaved" name="startSaved" required>
                        <option *ngFor="let poi of savedPlacesOfInterest" [ngValue]="poi">{{ poi.name }}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="startType === 'new'">
                <!-- Aquí puedes mostrar campos para que el usuario introduzca una nueva dirección/coordenadas -->
                <!-- Ejemplo: -->
                <div class="form-group">
                    <label for="startAddress">Dirección:</label>
                    <input type="text" [(ngModel)]="newStartPlace.address" id="startAddress" name="startAddress" placeholder="Dirección">
                </div>
                <div class="form-group">
                    <label for="startLatitude">Coordenadas:</label>
                    <input type="text" [(ngModel)]="startCoords" id="startLatitude" name="startLatitude" placeholder="Latitud,Longitud">
                </div>
            </div>
            <!-- Repite el mismo proceso para el campo de fin -->
            <div class="form-group">
                <label for="endType">Fin:</label>
                <select [(ngModel)]="endType" id="endType" name="endType">
                    <option value="saved" selected>Place of Interest guardado</option>
                    <option value="new">Nueva dirección/coordenadas</option>
                </select>
            </div>
            <div *ngIf="endType === 'saved'">
                <!-- Mostrar lista de Place of Interest guardados -->
                <div class="form-group">
                    <label for="endSaved">Selecciona un Place of Interest guardado:</label>
                    <select [(ngModel)]="newEndPlace" id="endSaved" name="endSaved" required>
                        <option *ngFor="let poi of savedPlacesOfInterest" [ngValue]="poi">{{ poi.name }}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="endType === 'new'">
                <!-- Campos para introducir una nueva dirección/coordenadas -->
                <div class="form-group">
                    <label for="endAddress">Dirección:</label>
                    <input type="text" [(ngModel)]="newEndPlace.address" id="endAddress" name="endAddress" placeholder="Dirección">
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="endLatitude">Coordenadas:</label>
                        <input type="text" [(ngModel)]="endCoords" id="startLatitude" name="startLatitude" placeholder="Latitud,Longitud">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="strategy">Estrategia:</label>
                <select [(ngModel)]="newRouteOptions.strategy" id="strategy" name="strategy" required>
                    <option value="fast" selected>Rápida</option>
                    <option value="recommended">Recomendada</option>
                    <option value="short">Corta</option>
                </select>
            </div>
            <div class="form-group">
                <label for="vehicleType">Tipo de vehículo:</label>
                <select [(ngModel)]="newRouteOptions.vehicleType" id="vehicleType" name="vehicleType" required>
                    <option value="driving-car" selected>Coche</option>
                    <option value="driving-hgv">Camión</option>
                    <option value="cycling-regular">Bicicleta</option>
                    <option value="foot-walking">Caminando</option>
                    <option value="foot-hiking">Senderismo</option>
                    <option value="wheelchair">Silla de ruedas</option>
                </select>
            </div>
            <div class="button-container">
                <button type="button" id="cancelButton" (click)="cancelSave()">Cancelar</button>
                <button type="submit" id="save">Guardar</button>
            </div>
            <div *ngIf="errorMsg" class="error-message">
                {{ errorMsg }}
            </div>
        </form>
    </div>    
</div>
