.container-places {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: 5%;
    width: 30%;
    height: 100%;
    z-index: 500;
    background-color: white;
}

.top-bar {
    position: relative;
    height: 8%; 
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: 100%;
    background-color: rgb(224, 223, 223);
}

.place-list {
    margin-top: 10%;
    list-style: none; 
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.names-places{
    margin-left: 5%;
}

.place-name {
    font-weight: bold;
    margin-bottom: 5px;
}


.place-address {
    font-size: 14px;
    margin-bottom: 10px;
}

.button-container {
    margin-right: auto;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
}

.fav-button{
    width: 20px; 
    height: 20px; 
    background-image: url('../../../assets/star-yellow.png');
    background-size: cover; 
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.nofav-button{
    width: 20px; 
    height: 20px; 
    background-image: url('../../../assets/star-empty.png');
    background-size: cover; 
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.edit-button {
    width: 20px; 
    height: 20px; 
    background-image: url('../../../assets/edit.png');
    background-size: cover; 
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.delete-button {
    width: 20px; 
    height: 20px; 
    background-image: url('../../../assets/delete.png');
    background-size: cover; 
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.fav-button:not(:last-child),
.nofav-button:not(:last-child),
.edit-button:not(:last-child),
.delete-button:not(:last-child) {
    margin-right: 10px; /* Ajusta este valor según el espacio deseado */
}

.add-button {
    position: absolute;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    left: 50%;
    margin-top: 5%;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none;
    padding: 5px 10px; /* Espaciado interno del botón */
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse sobre él */
}

.h1-places {
    text-align: center;
}

.popup-container {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 25%;
    height: 25%;
    background-color: white; 
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    flex-direction: column;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    text-align: center;
}

.popup-buttons {
    margin-top: 20px;
}

.popup-button {
    margin-top: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    cursor: pointer;
}

.popup-button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse sobre él */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
}

button[type="submit"], button[type="button"] {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #0056b3;
}


.form-container {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: calc(50% - 5px); /* Para que los campos de latitud y longitud estén uno al lado del otro */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-group input[type="text"]:first-child {
    margin-right: 10px; /* Espacio entre los campos de latitud y longitud */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type="text"]:required,
input[type="number"]:required {
    border-color: red; /* Cambia el borde a rojo para campos obligatorios no completados */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button[type="submit"],
button[type="button"] {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0056b3;
}
