/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/leaflet@1.9.4/dist/leaflet.css);

.body {
    background-color: #666;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Opcional: Establece una fuente general para la página */
  }
